{% extends "layout.html" %}

{% block content %}

<br />
<h1>{{ title }}</h1>

<!-- {{ result|safe }} -->
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- <h3>{{ title }}</h3> -->
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
    <body>
        <div id="plot"></div>
        <script src="data.js"></script>
        <script>    var trace1 = {
                x: [0, 500, 1000, 1500, 2000, 2500, 3000, 3500, 4000, 4500, 5000, 5500, 6000, 6500, 7000, 7500, 8000, 8500, 9000, 9500, 10000],
                y: [106.16, 107.01, 107.88, 108.75, 109.62, 110.51, 111.4, 112.3, 113.2, 114.11, 115.03, 115.96, 116.9, 117.84, 118.79, 119.75, 120.71, 121.68, 122.66, 123.65, 124.65],
                // text: data.map(row => row.greekName),
                name: "Basic",
                type: "line"
            };
        
            var trace2 = {
                x: [0, 500, 1000, 1500, 2000, 2500, 3000, 3500, 4000, 4500, 5000, 5500, 6000, 6500, 7000, 7500, 8000, 8500, 9000, 9500, 10000],
                y: [132.41, 133.48, 134.55, 135.64, 136.73, 137.83, 138.94, 140.06, 141.19, 142.33, 143.48, 144.63, 145.8, 146.98, 148.16, 149.35, 150.56, 151.77, 153.0, 154.23, 155.47],
                // text: data.map(row => row.romanName),
                name: "Extended",
                type: "line"
            };
        
            var trace3 = {
                x: [0, 500, 1000, 1500, 2000, 2500, 3000, 3500, 4000, 4500, 5000, 5500, 6000, 6500, 7000, 7500, 8000, 8500, 9000, 9500, 10000],
                y: [165.87, 167.21, 168.56, 169.92, 171.29, 172.67, 174.06, 175.46, 176.88, 178.3, 179.74, 181.19, 182.65, 184.12, 185.61, 187.1, 188.61, 190.13, 191.66, 193.21, 194.77],
                // text: data.map(row => row.romanName),
                name: "Premium",
                type: "line"
            };
        
            // Combining both traces
            var data = [trace1, trace2, trace3];
        
            // Apply the group barmode to the layout
            var layout = {
                title: "California Basic, Extended & Premium Coverage Estimate",
                xaxis: {
                    title: {
                    text: 'Total Customer Claim Amount $',
                    font: {
                        family: 'Courier New, monospace',
                        size: 18,
                        color: '#7f7f7f'
                    }
                    },
                },
                yaxis: {
                    title: {
                    text: 'Monthly Premium $',
                    font: {
                        family: 'Courier New, monospace',
                        size: 18,
                        color: '#7f7f7f'
                    }
                    }
                }
            };
        
            // Render the plot to the div tag with id "plot"
            Plotly.newPlot("plot", data, layout);
        </script>
        <h3>Snapshot from AzureML interface</h3>
        This was implemented using Azure ML Studio.<br /><br />
        <img src="/static/images/AzureMLpremium.png"/>
        
        <h3>Metric score for Poisson Regression</h3>
        MAE, RMSE and CoD scores shows its a decent model.<br /><br />
        <img src="/static/images/AzureMLpremiumscore.png"/>
    </body>

{% endblock %}
